h2{
  margin-top:0;
  margin-bottom:-5px;
}

h3{
  margin-top:0;
  margin-bottom:2px;
  margin-left:3px;
}

p{
  margin-top:2px;
  margin-bottom:2px;
  margin-left:3px;
}

#drawing {
  margin:auto;
  float:left;
}

#scaleDiv{
  position:absolute;
  top:55px;
  left:55px;
  width: 180px;
  z-index: 1;
}
#scaleInput{
  width:35px;
}

#drawingStart {
  position:absolute;
  left:910px;
}

#removeLineButton {
  position:absolute;
  left:1060px;
}

#xyCoord{
  position:absolute;
  top: 500px;
  left:2px;
  padding:5px;
  background-color:#8ED231;
  border:solid 2px #598B15;
  border-radius:10px;
  margin:5px;
}

#xCoordInput {
    width:40px;
}

#yCoordInput {
    width:40px;
}

#arrowheadDiv{
  position:absolute;
  top: 500px;
  left:125px;
  background-color:#FFC300;
  padding:5px;
  border-radius:10px;
  border:solid 1px #D48F17;
  margin:5px;
}

.arrowhead {
  height:30px;
  width:30px;
  border:solid 2px black;
  padding:5px;
  margin:0;
  border-radius:10px;
  background-color:yellow;
}

#supportDiv {
  position:absolute;
  top: 500px;
  left:342px;
  background-color:#EE2070;
  padding:5px;
  border-radius:10px;
  margin:5px;
}

.supportImage {
  height:30px;
  width:30px;
  border:solid 2px black;
  padding:5px;
  margin:0;
  border-radius:10px;
  background-color:#20D5EE;
}

#none {
  height:40px;
  width:40px;
  padding:0;
}


#aeDiv {
  position:absolute;
  top: 500px;
  left:600px;
  background-color:#BB6916;
  padding:5px;
  border-radius:10px;
  margin:5px;
}

#areaInput{
  width:50px;
}
#eInput{
  width:50px;
}

#computingDiv{
  position:absolute;
  top: 90px;
  left:910px;
  width:220px;
  height:600px;
  background-color:#2C75BE;
  padding:0;
  border-radius:10px;
  margin:5px;
}
